[Unit]
Description=Runs blocklists update every 2am
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=45m

[Install]
WantedBy=timers.target
